<template id="v-edit-anagrafica-template">
    <c-loading v-if="loading" :error-msg="errorMsg">
        <span>Attendere prego...</span>
    </c-loading>
    <div v-else>
        <div v-html="beforeForm"></div>
        <form enctype="multipart/form-data">
            <!-- campi nascosti -->
            <template v-for="(widget, key) in widgets" v-if="isHiddenField(key)">
                <v-widget :c-widget="widget" :key="key"></v-widget>
            </template>
            <div class="row">


                <w-radio :c-conf="widgets.fisicagiuridica" inline-template>
                    <div class="col-12 mb-2 form-label-group">
                        <div class="bw--1 border-solid border-gray-400 p--6 rounded">

                            Persona fisica/giuridica:
                            <label v-for="key in domainValuesOrder" class="form-radio">
                                <input v-bind:name="getFieldName()" type="radio" :value="key"
                                       v-model="value"
                                       v-bind:c-marker="cMarker" v-on:change="change">
                                <i class=""></i>
                                <span>
                                    <i v-if="key == 'F'" class="fa fa-user"></i>
                                    <i v-else class="fa fa-briefcase"></i>
                                    {{domainValues[key]}}
                                </span>
                            </label>
                        </div>
                    </div>
                </w-radio>
                <!--<v-widget v-for="(widget, key) in widgets" :c-widget="widget" v-if="!isHiddenField(key)"></v-widget>-->
                <!--<v-widget :c-widget="widgets.fisicagiuridica"></v-widget>-->

            </div>

            <div v-show="fisicaGiuridicaValue === 'F'">
                <div>


                    <div class="row separatorHr">pippo</div>

                    <div class="row">
                        <v-widget v-for="(widget, key) in getFisicaGiuridicaWidgets('F')" :v-key="key" :c-widget="widget"></v-widget>
                    </div>
                </div>
            </div>
            <div class="row" v-show="fisicaGiuridicaValue === 'G'">
                <v-widget v-for="(widget, key) in getFisicaGiuridicaWidgets('G')" :v-key="key" :c-widget="widget"></v-widget>
            </div>



        </form>
        <div v-html="beforeActions"></div>
        <div class="p-3" v-show="actions.length">
            <template v-for="(action,name) in actionsConf">
                <v-action :c-action="action"></v-action>
            </template>
        </div>
    </div>
</template>
